
h1 {
  display: flex;
}

#score {
  top: 250px;
}

#instructions {
  position: fixed;
  word-wrap: break-word;

}

.button {
  padding: 30px 10px 20px 80px;
  align-items: center;
}

.container {
  display: flex;
  position: fixed; 
  top: 20%;
  left: 42%;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(154, 188, 223);
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: indigo;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(154, 188, 223);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}


