*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --ff-primary: 'Chalkduster, fantasy', fantasy;

  --clr-light: #fff;
  --clr-dark: #070707;
  --clr-accent: #a51bcf;
  --clr-button:  #1bcf2a;
  --clr-tetromino: #1bcfb7;
}


body {
  background: var(--clr-dark);
}

#start-button {
  background: var(--clr-button);
  border-radius: 12px;
  padding: 10px 24px;
  color: var(--clr-dark);
  text-decoration: none;
}

.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--clr-light);
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: var(--clr-tetromino);
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--clr-light);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}